<!-- wp:template-part {"slug":"Main-Top-Heading","theme":"premiumlabelsupply"} /-->
<!-- wp:template-part {"slug":"Main-Heading","theme":"premiumlabelsupply"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"bottom":"100px","top":"100px"}}},"layout":{"type":"constrained","contentSize":"1200px"}} -->
<div class="wp-block-group" style="margin-top:100px;margin-bottom:100px"><!-- wp:heading {"style":{"typography":{"fontSize":34},"spacing":{"margin":{"bottom":"50px"}}}} -->
  <h2 style="margin-bottom:50px;font-size:34px">Your Cart</h2>
  <!-- /wp:heading -->
  
  <!-- wp:shortcode -->
  [woocommerce_cart]
  <!-- /wp:shortcode --></div>
  <!-- /wp:group -->

<!-- wp:template-part {"slug":"Generic-Contact-Form-Bottom","theme":"premiumlabelsupply"} /-->
<!-- wp:template-part {"slug":"Main-Footer","theme":"premiumlabelsupply"} /-->

