<!-- wp:template-part {"slug":"Main-Top-Heading","theme":"premiumlabelsupply"} /-->

<!-- wp:template-part {"slug":"Main-Heading","theme":"premiumlabelsupply"} /-->

<!-- wp:template-part {"slug":"Generic-Banner","theme":"premiumlabelsupply","area":"uncategorized"} /-->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"style":{"spacing":{"padding":{"top":"80px"}}},"layout":{"type":"constrained","contentSize":"600px","wideSize":"1100px"}} -->
    <div class="wp-block-column" style="padding-top:80px"><!-- wp:html -->
    <div class="archive-search-container">
    <div class="faux-h2">Search for Available Templates</div>
    <p>Please enter a template code <em>(ex: "PLS763")</em></p>
    </div>
    <!-- /wp:html --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column {"layout":{"type":"constrained","contentSize":"1100px"}} -->
    <div class="wp-block-column"><!-- wp:shortcode -->
    [searchandfilter id="53778"]
    <!-- /wp:shortcode --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column {"style":{"spacing":{"padding":{"bottom":"0px"}}},"layout":{"type":"constrained","contentSize":"600px","wideSize":"1100px"}} -->
    <div class="wp-block-column" style="padding-bottom:0px"><!-- wp:html -->
    <div class="archive-search-container">
    <p><strong>Need Help?</strong> <a class="needhelp" href="#learnTemplate">Learn more about using the templates here.</a></p>
    </div>
    <!-- /wp:html --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column {"layout":{"type":"constrained","contentSize":"1100px"}} -->
    <div class="wp-block-column"><!-- wp:shortcode -->
    [searchandfilter id="53778" show="results"]
    <!-- /wp:shortcode --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column {"style":{"spacing":{"padding":{"top":"100px","bottom":"100px"}},"color":{"background":"#f8f8f8"}},"layout":{"type":"constrained","contentSize":"600px","wideSize":"1100px"}} -->
    <div class="wp-block-column has-background" style="background-color:#f8f8f8;padding-top:100px;padding-bottom:100px"><!-- wp:html -->
    <h2 id="learnTemplate">Tips On Using the Templates Properly</h2>
    <ol class="helptemplate">
    <li>If your text is too large, it may print off center. Consider shrinking the size until it centers properly.</li>
    <li>In your word processor, you can turn on and off the Gridlines to see the labels. In Microsoft Word it’s as simple as clicking the ‘Layout’ tab in the top section, then ‘View Gridlines’.</li>
    </ol>
    <!-- /wp:html -->
    
    <!-- wp:image {"id":51418,"sizeSlug":"full","linkDestination":"none"} -->
    <figure class="wp-block-image size-full"><img src="https://premiumlabedev.wpengine.com/wp-content/uploads/2023/03/template-tips-step-1.jpg" alt="" class="wp-image-51418"/></figure>
    <!-- /wp:image -->
    
    <!-- wp:image {"id":51419,"sizeSlug":"full","linkDestination":"none"} -->
    <figure class="wp-block-image size-full"><img src="https://premiumlabedev.wpengine.com/wp-content/uploads/2023/03/template-tips-step-2.jpg" alt="" class="wp-image-51419"/></figure>
    <!-- /wp:image --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:template-part {"slug":"Generic-Contact-Form-Bottom","theme":"premiumlabelsupply"} /-->
    
    <!-- wp:template-part {"slug":"Main-Footer","theme":"premiumlabelsupply"} /-->