
.pl-generic-contents{
  p{
    margin-bottom: 15px;
    line-height: 1.5em;
    color: #333333;
  }
}

@media (max-width: 781px) {
  .pl-generic-content{
    padding: 50px 30px !important;
    font-size: 15px !important;
    .pl-header{
      font-size: 29px !important;
    }
  }
}