@media (max-width: 1199px) {

  .pl-product-showcase{

    .pl-lg-img{
      .wc-block-grid__products .wc-block-grid__product {
        margin: 0 0 16px !important;
      }
      .wc-block-grid__product-image img {
        height: 672px !important;        
      }
    }
    .pl-content{
      .pl-header{
        font-size: 33px !important;
      }
      .wc-block-grid__products .wc-block-grid__products,
      .wc-block-grid__products .wc-block-grid__product {
        margin: 0 0 16px !important;
      }
      .wc-block-grid__product-image img {
          height: 260px !important;

      }
    }
  }

}

@media (max-width: 781px) {

  .pl-product-showcase{
    padding: 30px 0 !important;
    .pl-lg-img{
      padding-right: 15px !important;
      padding-left: 15px !important;
      .wc-block-grid__product-image img {
        height: auto !important;   
        max-height: 100% !important;     
      }
    }
    .pl-content{
      padding-right: 15px !important;
      padding-left: 15px !important;
      .wc-block-grid__product-image img {
          height: auto !important;
      }

      .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column {
        flex-basis: 50%!important;
      }
    }
  }

}

@media (max-width: 575px) {
  .pl-product-showcase{
    
    .pl-content{
      .pl-header{
        font-size: 28px !important;
      }
      .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column {
        flex-basis: 100%!important;
      }
    }
  }
}