
.u-product-category-cover{
  .product-category-cover_wrap,
  .product-category-cover_wrap .wp-block-cover{
    max-width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }


.wp-block-cover, 
.wp-block-cover-image {
  align-items: center;
  background-position: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-height: 430px;
  padding: 1em;
  position: relative;
}

.wp-block-cover-image .wp-block-cover__image-background, 
.wp-block-cover-image video.wp-block-cover__video-background, 
.wp-block-cover .wp-block-cover__image-background, 
.wp-block-cover video.wp-block-cover__video-background {
  border: none;
  bottom: 0;
  box-shadow: none;
  height: 100%;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none;
  object-fit: cover;
  outline: none;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.wp-block-cover__image-background, .wp-block-cover__video-background {
  z-index: 0;
}

.wp-block-cover-image .wp-block-cover__inner-container, 
.wp-block-cover .wp-block-cover__inner-container {
  color: #fff;
  width: 100%;
  z-index: 1;
}

.wp-block-cover-image.is-light .wp-block-cover__inner-container, 
.wp-block-cover.is-light .wp-block-cover__inner-container {
  color: #000;
}

.u-h1-archive {
  font-size: 84px !important;
}

.u-desc-archive {
  font-size: 22px !important;
}

.u-text-shadow-gray {
  text-shadow: 3px 3px 4px #1c1c1c;
}
}

